@import "tailwindcss";
@import "@fontsource/press-start-2p";

@plugin "daisyui" {
  themes:
    winter --preferslight,
    dark --default;
}
@plugin "@tailwindcss/typography";

@theme {
  --font-outfit: "Outfit Variable", "sans-serif";
  --font-press-start-2p: "Press Start 2P";
}
