---
import Features from "../components/home/Features.astro";
import Hero from "../components/home/Hero.astro";
import Faq from "../components/home/Faq.astro";
import "@fontsource-variable/outfit";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Home">
  <div class="px-3 md:px-10 xl:px-28 space-y-20 pb-20 relative">
    <Hero />
    <Features />
    <div class="divider mb-20"></div>
    <Faq />
  </div>
</HomeLayout>
