<div class="space-y-12">
  <div>
    <h2 id="faq" class="text-3xl font-bold">Frequently Asked Questions</h2>
    <p class="mt-4">
      Get answers to common questions about our hosting platform and learn how
      to maximize your Seedloaf experience.
    </p>
  </div>
  <div class="space-y-6">
    <div class="collapse collapse-plus bg-base-200">
      <input type="radio" name="faq" />
      <p class="collapse-title text-xl font-semibold">
        Why was Seedloaf created?
      </p>
      <div class="collapse-content">
        <p>
          Seedloaf was inspired by what the team at PloudOS did. There are many
          options for free Minecraft servers, but there are so few which
          actually work. For some, it is because the hardware provided is not
          sufficient. For others, it is because the player restrictions are too
          severe. We aim to provide a service that is both free and functional.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200">
      <input type="radio" name="faq" />
      <p class="collapse-title text-xl font-semibold">
        Will I be locked in once I decide to use Seedloaf?
      </p>
      <div class="collapse-content">
        <p>
          While we strive to ensure that our service is as easy and efficient to
          use as possible, we also understand that different users have
          different requirements. If at any stage you decide that Seedloaf is
          not the right fit for you, you can download your world data and move
          to a different provider - no questions asked.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200">
      <input type="radio" name="faq" />
      <p class="collapse-title text-xl font-semibold">How do you make money?</p>
      <div class="collapse-content">
        <p>
          We don&#39;t. Seedloaf is still in the early stages, however we never
          plan on charging money for our baseline services. What you get now
          will always be free. In the future we may offer premium services, and
          free users may see ads.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200">
      <input type="radio" name="faq" />
      <p class="collapse-title text-xl font-semibold">
        Where are the servers located?
      </p>
      <div class="collapse-content space-y-4">
        <p>
          We currently only have servers in North America. This is to ensure
          that we can provide the best possible service before we begin
          expanding into new regions.
        </p>
        <p>
          If there are regions you would like to see us expand to, please email
          us at{" "}
          <a class="link" href="mailto:hello@seedloaf.com">
            hello@seedloaf.com
          </a>
          .
        </p>
      </div>
    </div>
  </div>
</div>
