---
import {
  ArrowPathIcon,
  BoltIcon,
  Cog6ToothIcon,
  CubeIcon,
  CurrencyEuroIcon,
  LinkIcon,
} from "@heroicons/react/24/outline";

const features = [
  {
    Icon: BoltIcon,
    title: "Performant Servers",
    description:
      "Free Minecraft servers that actually work. All registered users get powerful CPUs with plenty of RAM.",
    highlight: "Enjoy servers that actually work.",
  },
  {
    Icon: CurrencyEuroIcon,
    title: "Entirely Free",
    description:
      "Seedloaf is completely free. Try out a world without registering. Sign up for bigger worlds and more features.",
    highlight: "All for free!",
  },
  {
    Icon: Cog6ToothIcon,
    title: "Custom Control Plane",
    description:
      "Manage your server with our custom control plane. Easily manage your server with a few clicks.",
    highlight: "No more clunky dashboards.",
  },
  {
    Icon: LinkIcon,
    title: "Automatic Subdomains",
    description:
      "Easily share your world with friends, using your custom sdlf.fun domain.",
    highlight: "Personalise your server.",
  },
  {
    Icon: ArrowPathIcon,
    title: "Quick Startup Time",
    description:
      "Start your server in seconds. No more waiting for your server to start.",
    highlight: "Get gaming faster.",
  },
  {
    Icon: CubeIcon,
    title: "Modpacks and Plugins",
    description:
      "Select different server types and install custom modpacks and plugins.",
    highlight: "Choose your own experience.",
  },
];
---

<div>
  <h2 class="text-3xl font-bold">Why Seedloaf?</h2>
  <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-10">
    {
      features.map(({ Icon, title, description }) => (
        <div class="relative border border-primary rounded-md px-8 py-6">
          <div class="p-1 rounded-full absolute left-4 -top-5 bg-base-100 text-primary flex items-center gap-2">
            <Icon className="h-6 w-6" />
            <h3 class="text-lg font-semibold">{title}</h3>
          </div>
          {description}
        </div>
      ))
    }
  </div>
</div>
