---
import {
  AdjustmentsVerticalIcon,
  ComputerDesktopIcon,
  UserGroupIcon,
} from "@heroicons/react/24/outline";
---

<div id="hero" class="hero min-h-screen py-24 lg:py-28">
  <div
    class="hero-content flex-col justify-between items-center text-center h-full max-w-(--breakpoint-md)"
  >
    <div>
      <h1 class="text-3xl sm:text-5xl md:text-7xl font-bold mb-5">
        Minecraft Servers Made for the Casual Gamer -{" "}
        <span class="text-primary">For Free.</span>
      </h1>
      <p class="text-md sm:text-lg md:mb-12 mb-6">
        Launch your own Minecraft server in seconds. Enjoy the game with servers
        that actually work.{" "}
        <span class="text-primary">Entirely for free!</span>
      </p>
      <a
        href={process.env.NEXT_PUBLIC_REGISTER_URL as string}
        class="btn btn-primary btn-lg"
      >
        Play now
      </a>
    </div>

    <div>
      <div class="stats hidden md:flex shadow-sm">
        <div class="stat">
          <div class="stat-figure text-primary">
            <UserGroupIcon className="inline-block h-8 w-8 stroke-current" />
          </div>
          <div class="stat-title text-start">Registered Users</div>
          <div class="stat-value">40,000+</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-primary">
            <AdjustmentsVerticalIcon
              className="inline-block h-8 w-8 stroke-current"
            />
          </div>
          <div class="stat-title text-start">Servers Created</div>
          <div class="stat-value">50,000+</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-primary">
            <ComputerDesktopIcon
              className="inline-block h-8 w-8 stroke-current"
            />
          </div>
          <div class="stat-title text-start">Free Hours Played</div>
          <div class="stat-value">425,000+</div>
        </div>
      </div>
    </div>
  </div>
</div>
