<footer
  class="footer footer-center bg-base-100 text-primary-content rounded-sm p-2"
>
  <div class="max-w-(--breakpoint-xl) flex justify-between items-center w-full">
    <aside class="hidden md:flex items-center gap-2">
      <img src="/images/logo.webp" alt="Seedloaf" height={64} width={64} />
      <div class="text-start">
        <p class="font-bold">Seedloaf.</p>
        <p>Copyright © 2025 - All right reserved</p>
      </div>
    </aside>
    <nav class="grid grid-flow-col gap-4">
      <a href="/privacy-policy" class="link link-hover"> Privacy Policy </a>
      <a href="/terms-of-service" class="link link-hover">
        Terms & Conditions
      </a>
      <a href="/refund-policy" class="link link-hover"> Refund Policy </a>
      <span data-ccpa-link="1"></span>
      <div id="ncmp-consent-link"></div>
    </nav>
  </div>
</footer>
